header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.hamburger-menu {
  opacity: 90%;
  background-color: none;
}

.menu-group {
  border-radius: 5px;
}

.close-btn {
  background-color: transparent;
}

.menu-group_item {
  width: 200px;
  background-color: #e79696;
  color: white;
  padding: 9px 14px;
  height: 40px;
}

.menu-group_item:hover {
  opacity: 80%;
  cursor: pointer;
  transition: ease 0.3s;
}

.about-me {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.contact {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
