.hero {
  height: auto;
  padding: 50px;
  border: 2px solid blue;
  /* background-image: linear-gradient(to bottom, #eecda3, #ef629f); */
  /* height: 100vh; */
}

.hero-content {
  height: 250px;
}

.hero-title {
  margin: 10px 0;
}

.hero-paragraph {
  font-weight: 500;
}

.hero-photo {
  width: 300px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* .hero-design {
  height: 200px;
} */

.more-btn {
  margin: 20px 0px;
}

/* .desktop-image {
  padding-left: 25px;
} */
