.hero {
  height: max-content;
  background-color: white;
}

.hero-content {
  height: max-content;
}

.hero-title {
  margin: 5px 0;
}

.hero-paragraph {
  margin-top: 35px;
}

.hero-photo {
  height: max-content;
  width: 300px;

  display: flex;
}

.desktop-image {
  filter: drop-shadow(2px 3px 3px #263238);
}

.more-btn {
  margin: 20px 0px;
}

@media only screen and (min-width: 1250px) {
  .hero {
    margin: 100px 100px 50px 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    margin: 100px 200px 0px 200px;
  }
}
