nav {
  height: max-content;
  position: fixed;
  top: 20px;
  right: 0px;
  color: white;
}

.nav-list {
  margin: 0 60px 0 0;
  padding: 10px 0;
  width: 100vw;
  height: 45px;
  color: black;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: fit-content;
  padding: 0px 0px;
  margin: 0px 0px;
}

li {
  margin-right: 70px;
}

li:hover {
  opacity: 80%;
  cursor: pointer;
  transition: ease 0.3s;
}
