nav {
  height: max-content;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: pink;
}

.nav-list {
  margin: 0 200px 0 0;
  padding: 10px 0;
  width: 460px;
  height: 20px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: fit-content;
  padding: 0px 0px;
  margin: 0px 0px;
}

li {
  margin-right: 70px;
}
