/* .project-card {
  align-items: flex-end;
} */

.project-card:hover {
  color: white;
  transition: ease 0.3s;
}

.project-card:hover .img {
  border: 2px solid rgb(27, 27, 27);
  transition: ease 0.3s;
}

.project-card:hover .project-caption {
  color: white;
}

.project-card:hover .each-skill {
  background: white;
  color: black;
}

.external-link_icon:hover,
.github-icon:hover {
  background-color: black;
  cursor: pointer;
  border-radius: 5px;
}
