.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex-basis: 16%;
}

.col-2 {
  flex-basis: 32%;
}

.col-3 {
  flex-basis: 48%;
}

.col-4 {
  flex-basis: 64%;
}

.col-5 {
  flex-basis: 80%;
}

.col-6 {
  flex-basis: 96%;
}

@media only screen and (max-width: 1024px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1250px) {
  .col-4 {
    flex-basis: 50%;
  }

  .col-1 {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 1250px) {
  .col-4 {
    flex-basis: 50%;
  }

  .col-1 {
    flex-basis: 50%;
  }
}
