@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button {
  font-size: 16px;
  border: none;
  padding: 8px 17px;
  font-weight: 600;
  background-color: black;
  color: #e8e8e8;
  border-radius: 5px;
}

button:hover {
  color: #db7f67ff;
  opacity: 80%;
  cursor: pointer;
  transition: ease 0.3s;
}

h1 {
  margin: 5px 0;
  font-weight: 600;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-size: 16px;
}

.shadow {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}
